<header class="topbar">
  <button class="topbar__menu-btn" id="menuBtn" aria-label="Buka menu" type="button">
    <i class="fa-solid fa-bars"></i>
  </button>
  <h1 class="topbar__title">
    <i class="<%= navIcon %>"></i>
    <span class="topbar__title-text"><%= title %></span>
  </h1>
  <div class="topbar__meta">
    <span class="topbar__chip">
      <i class="fa-regular fa-clock"></i>
      <span id="waktuUpdate"><%= new Date().toLocaleString('id-ID') %></span>
    </span>
    <button class="topbar__theme-toggle" id="themeBtn" aria-label="Ubah tema" type="button">
      <i class="fa-solid fa-moon"></i>
    </button>
  </div>
</header>
