<nav class="navbar navbar-dark navbar-custom mb-4 shadow-sm">
  <div class="container-fluid px-4">
    <span class="navbar-brand mb-0 h1"><i class="<%= navIcon %> me-2"></i> <%= title %></span>
    <span class="text-light">
      <i class="fa-regular fa-clock"></i> <span id="waktuUpdate"><%= new Date().toLocaleString('id-ID') %></span>
    </span>
  </div>
</nav>
